/* General */
:root {
    --main-pink: #cf197d;
    --main-pink-rgb: 207, 25, 125; /*RGB values to use color with opacity*/
    --main-blue: #1d1b35;
    --main-blue-rgb: 29, 27, 53; /*RGB values to use color with opacity*/
    --main-bg-color: #ECF0F3;
    --step: 8px;
    --menu-height: 120px;
}
* {
    box-sizing: border-box;
}
html, body {
    margin: 0px;
    padding: 0px;
    background-color: var(--main-bg-color);
    font-family: Roboto;
}
a {
    text-decoration: none;
}
ul {
    background-color: var(--main-blue);
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
h1 {
    color: var(--main-pink);
    font-family: CreteRound;
}
h3 {
    font-size: 12px;
    padding-top: 40px;
}
h2{
    font-family:CreteRound;
}

/* Desktop Navigation */
#toggle-mobile-menu {
    display: none;
}
.menu {
    padding: 16px 0px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.menu a {
    width: 100%;
    padding: 8px;
    color: white;
}
.menu a:hover{
   color: var(--main-pink);  
}
.menu a:is(.is-active){
    color: var(--main-pink);  
}
.menu-placeholder {
    height: var(--menu-height);
    background-color: var(--main-blue);
}
@media screen and (min-width: 900px) {
    .menu-container {
        background-color: var(--main-blue);
    }
    .menu-placeholder {
        display: none;
    }
}


/* Mobile Navigation */
@media screen and (max-width: 900px) {
    .p-navDesktop {
        display: none;
    }
    .menu-container {
       position: fixed;
       top: 0;
       width: 100%;
       z-index: 1000;
    }
    a {
        font-family: Roboto;
        color: #fff;
        text-decoration: none;
        width: 100%;
        margin: 0;
        padding: 10px 0;
        font: 700 20px;
    }
    .hamburger {
        height: var(--menu-height); 
        padding-top: 37px;
        padding-bottom: 37px;
        padding-left: 20px;
        display: -ms-grid;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        justify-items: left;
        z-index: 120;
        background-image: url(../images/Mobile-Nav.png);
    }
    .hamburger div {
        background-color: white;
        position: relative;
        width: 40px;
        height: 5px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    #toggle-mobile-menu {
        display: none;
    }
    #toggle-mobile-menu:checked+.hamburger .top {
        transform: rotate(-45deg);
        margin-top: 22.5px;
    }
    #toggle-mobile-menu:checked+.hamburger .meat {
        transform: rotate(45deg);
        margin-top: -5px;
    }
    #toggle-mobile-menu:checked+.hamburger .bottom {
        transform: scale(0);
    }
    #toggle-mobile-menu:checked~.menu {
        height: 688px;
    }
    #toggle-mobile-menu:checked+.hamburger{
        background-color: var(--main-pink);
    }
    .menu {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        padding: 0;
        list-style: none;
        clear: both;
        width: auto;
        text-align: center;
        height: 0px;
        overflow: hidden;
        transition: height .4s ease;
        z-index: 120;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background-image: url(../images/Mobil_Nav_Bar.png);
        justify-content: start;
    }
    a:hover:not(.is-active) {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        color: var(--main-pink);
        background-color: white;
        cursor: pointer;
    }
    .is-active {
        background-color: var(--main-pink);
        border: solid var(--main-pink);
    }
    .menu a:is(.is-active){
        color: var(--main-pink);
        background-color: white; 
    }
}


.intro {
    background-color: var(--main-blue);
    padding:30px;
    color: white;
    min-width: 100;
}


.exponate {
    align-content: center;
    padding:30px;
    max-width: 250px;
}

.explore{
    font-family: CreteRound;
    background-color:var(--main-blue);
    color: white;
    text-align: center;
    border: 1px solid var(--main-blue);
    border-radius: 10px;
    padding: 15px 32px;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}
  
  .explore:hover{
    background-color:var(--main-pink);
    border: 1px solid var(--main-pink);
  }

  .search {
    margin: calc(var(--step) * 3);
    display: flex;
    padding: 8px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: var(--main-blue);
    border-radius: 9999px;
    color: white;
  }

  .search input{
    width: 100%;
    background-color: transparent;
    color: white;
    font-size: 17px;
    border: none;
  }

  .search button{
    background-color: transparent;
    border: none;
  }

  .search input ::placeholder{
    width: 100%;
    background-color: transparent;
    color: white;
    font-size: 17px;
    border: none;
  }

  .search input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: White;
    opacity: 0.85; /* Firefox */
  }
  .search input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
  }
  .search input::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
  }
 .search input:focus{
    outline: none;
}

.search:hover {
    background-color: rgba(var(--main-blue-rgb), 0.8);
}
.search button:hover {
    background-color: rgba(var(--main-blue-rgb), 0.8);
    cursor: pointer;
}

.more-arrow {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: var(--main-blue);
    cursor: pointer;
    margin-left: 40%;
    margin-right: 40%;
}

.more-arrow p{
    margin: 0px;
    margin-bottom: 24px;
}

.more-arrow .ball {
    background-color: rosybrown;
    padding: 8px;
    border-radius: 100%;
    background-color: var(--main-blue);
    margin-right: 5px;
    margin-bottom: -8px;
}

.down-arrow {
    font-size: 3rem;
    transform: rotate(90deg) translateY(-3%);
    margin: 0px;
    color: var(--main-blue);
}
