/* General Styles */
* {
    box-sizing: border-box;
}
:root {
    --main-pink: #cf197d;
    --main-blue: #1d1b35;
    --main-bg-color: #ECF0F3;
    /*RGB values to use color with opacity*/
    --main-pink-rgb: 207, 25, 125;
    --main-blue-rgb: 29, 27, 53;
    --step: 8px;
    --fieldset-padding: 52px;
    --mobile-padding: 40px;
}
html, body {
    margin: 0px;
    padding: 0px;
    background-color: var(--main-bg-color);
    font-family: Roboto;
}
h1, legend {
    color: var(--main-pink);
    font-family: CreteRound;
}
h2, h3 {
    font-family: CreteRound;
    color: var(--main-blue);
}
p, label {
    font-family: Roboto;
    line-height: 1.3;
}
img {
    object-fit: cover;
    display: block;
}
ul {
    list-style-type: none;
}
button, input[type=submit] {
    background-color: var(--main-blue);
    color: white;
    border: solid 10px var(--main-blue);
}
button:hover, input[type=submit]:hover {
    background-color: var(--main-pink);
    border: solid 10px var(--main-pink);
    cursor: pointer;
}
a {
    text-decoration: none;
    color: var(--main-pink);
}


/* Desktop Navigation */
#toggle-mobile-menu {
    display: none;
}
.menu {
    padding: 16px 0px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.menu a {
    width: 100%;
    padding: 8px;
    color: white;
}
.menu a:hover{
   color: var(--main-pink);  
}
.menu a:is(.is-active){
    color: var(--main-pink);  
}
.menu-placeholder {
    height: 120px; /* height of menu */
    background-color: var(--main-blue);
}

@media screen and (min-width: 900px) {
    .menu-container {
        background-color: var(--main-blue);
    }
    .menu-placeholder {
        display: none;
    }
}

/* Exponate Details, Exponat Information */
.exponat-details-container{
    text-align: center;
}
.exponat-information {
    text-align: center;
    padding-left: 0px;
}
.exponat-details-container h1 {
    font-size: 2rem;
    text-align: center;
}
.exponat-details {
    padding: 60px 32px;
    margin: 0px;
    width: 100%;
}
.exponat-details h1 {
    margin: 0px;
}
.exponat-details h2 {
    margin-top: 4px;
    margin-bottom: 32px;
}
.exponat-details-container img {
    max-height: 450px;
}
@media screen and (min-width: 600px) {
    .exponat-details{
        text-align: left;
    }
    .exponat-details h1 {
        text-align: left;
    }

    .exponat-information{
        text-align: left;
    }
}
@media screen and (min-width: 900px) {
    .exponat-details {
        width: 80%;
        margin: auto;
    }

    .exponat-information{
       text-align: left;
       padding-left: 0px;
    }
}

/* Kontakt Form */
fieldset {
    border: none;
    padding-left: var(--mobile-padding);
    padding-right: var(--mobile-padding);
    padding-bottom: var(--fieldset-padding);
}
fieldset legend {
    font-size: 2.2rem;
    color: var(--main-blue);
    padding-top: var(--fieldset-padding);
    margin-left: -2px;
}
fieldset p {
    font-size: 1.3rem;
    color: rgba(var(--main-blue-rgb), 0.7);
    margin: 0px;
    max-width: 600px;
    margin-bottom: 32px;
    margin-top: 8px;
    line-height: 1.3;
}
fieldset input[type=submit] {
    margin-top: 12px;
}
fieldset input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-style: solid;
    border-color: transparent;
}
fieldset input[type=text]:hover{
    border-style: solid;
    border-color: rgba(var(--main-blue-rgb), 0.5);
}




/* Mobile Navigation */
@media screen and (max-width: 900px) {
    .p-navDesktop {
        display: none;
    }
    .menu-container {
       position: fixed;
       top: 0;
       width: 100%;
       z-index: 1000;
    }
    a {
        font-family: Roboto;
        color: #fff;
        text-decoration: none;
        width: 100%;
        margin: 0;
        padding: 10px 0;
        font: 700 20px;
    }
    .hamburger {
        height: 120px; /* if changed of menu */
        padding-top: 37px;
        padding-bottom: 37px;
        padding-left: 20px;
        display: -ms-grid;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        justify-items: left;
        z-index: 120;
        background-image: url(../images/Mobile-Nav.png);
    }
    .hamburger div {
        background-color: white;
        position: relative;
        width: 40px;
        height: 5px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    #toggle-mobile-menu {
        display: none;
    }
    #toggle-mobile-menu:checked+.hamburger .top {
        transform: rotate(-45deg);
        margin-top: 22.5px;
    }
    #toggle-mobile-menu:checked+.hamburger .meat {
        transform: rotate(45deg);
        margin-top: -5px;
    }
    #toggle-mobile-menu:checked+.hamburger .bottom {
        transform: scale(0);
    }
    #toggle-mobile-menu:checked~.menu {
        height: 688px;
    }
    #toggle-mobile-menu:checked+.hamburger{
        background-color: var(--main-pink);
    }
    .menu {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        padding: 0;
        list-style: none;
        clear: both;
        width: auto;
        text-align: center;
        height: 0px;
        overflow: hidden;
        transition: height .4s ease;
        z-index: 120;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background-image: url(../images/Mobil_Nav_Bar.png);
        justify-content: start;
    }
    a:hover:not(.is-active) {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        color: var(--main-pink);
        background-color: white;
        cursor: pointer;
    }
    .is-active {
        background-color: var(--main-pink);
        border: solid var(--main-pink);
    }
    .menu a:is(.is-active){
        color: var(--main-pink);
        background-color: white; 
    }
}

/* Layouts */
.l-container {
    padding: var(--mobile-padding);
    background-color: var(--main-blue);
    color: var(--main-bg-color);
}
.l-container h1 {
    color: var(--main-pink);
    font-size: 2.5rem;
    margin: 0px;
}
.l-container h2 {
    font-size: 1rem;
    margin: 0px;
    margin-top: 8px;
}
.l-containerLight {
    background-color: var(--main-bg-color);
    color: black;
}
.l-containerLight img {
    height: 350px;
}
.quote {
    font-style: italic;
}
.l-centered {
    text-align: center;
    padding: var(--mobile-padding);
}
@media screen and (min-width: 900px) {
    .l-containerLight {
        width: 80%;
        margin: auto;
    }
}
@media screen and (min-width: 1200px) {
    .l-containerLight {
        width: 60%;
    }
}


/* Hochschul - Seite*/
.l-container article{
    margin: 24px 0px;
}
.l-container h1 {
    margin-top: 32px;
}
.l-container p {
    font-size: 1.1rem;
}
.header-bild {
    max-height: 450px;
    width: 100%;
}
.text-section section {
    margin: 32px 0px;
}

/* Footer */
.footer-general {
    background-color: var(--main-blue);
    color: white;
    text-align: center;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.footer-general h3{
    color: white;
    margin: 0px;
    font-size: 2rem;
    margin-bottom: 8px;
}
.footer-general ul{
    padding: 0px;
    margin: 16px 0px;
}
.footer-general ul li{
    margin: 3px 0px;
}
.footer-general div{
    margin-top: 16px;
    margin-bottom: 16px;
}
.image-placeholder {
    display: none;
}
.footer-legal {
    width: 80%;
    margin: auto;
    padding: 16px 0px;
    display: flex;
    align-items: center;flex-direction: column;
}
.impressum-box ul {
    display: flex;
    padding: 0px;
}
.impressum-box ul li{
    padding: 8px;
    z-index: 1000000;
}
.impressum-box ul li a{
    color: var(--main-blue);
}
.impressum-box a:hover:not(.is-active) {
    color:var(--main-pink);
    cursor: pointer;
}
@media screen and (min-width: 900px) {
    .footer-general {
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }
    .footer-legal {
        flex-direction: row;
    }
    .footer-legal .impressum-box{
        margin-left: auto;
    }
}
@media screen and (min-width: 1200px) {
    .image-placeholder {
        display: inline;
        position: fixed;
        right: 0;
        bottom: -4px;
    }
    .impressum-box ul li a{
        color: white;
    }
    .impressum-box a:hover:not(.is-active) {
        color:var(--main-blue);
        cursor: pointer;
    }
}


/* Header Section, Text Section */ 
.header-section, .text-section{
    width: 100%;
}
.header-section h1{
    font-size: 2.5rem;
}
.header-section h2, .text-section h2{
    font-size: 1.3rem;
    color: white;
}

.text-section h3{
    font-size: 1rem;
    color:white;
}
@media screen and (min-width: 900px) {
    .header-section {
        width: 50%;
        margin: auto;
    }
    .header-section h1{
        font-size: 3rem;
    }
    .header-section h2{
        font-size: 1.5rem;
    }
    .text-section{
        width: 70%;
        margin:auto;
    }
    .text-section h2{
        font-size:1.5rem;
        color: white;
    }
    .text-section h3{
        font-size: 1rem;
    }
}
@media screen and (min-width: 1200px) {
    .header-section {
        width: 40%;
        margin: auto;
    }

    .text-section{
        width: 60%;
        margin: auto;
    }
}


/* Exponate */
.exponate-heading {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 1.7rem;
}
.exponates {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 32px;
}
.exponates img{
    height: 350px;
}
@media screen and (min-width: 600px) {
    .exponates {
        margin: 50px auto;
        width: 75%;
    }
    .exponate-heading {
        margin-top: 64px;
        margin-bottom: 0px;
    }
}
@media screen and (min-width: 1200px) {
    .exponates {
        width: 80%;
        margin:  50px auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 32px;
    }
}

.centered-link {
    display: block;
    text-align: center;
    font-size: 1.1rem;
}


/*---------
Timeline CSS  from Daniel Malls Project Hub
----------*/
.wrap {
    width: 95%;
    max-width: 1100px;
    margin: 0 auto 0 1em;
    position: relative;
    padding: 6em 0 10em;
}

.page-header-wrap {
    width: 35%;
    margin: 0;
    float: left;
    position: fixed;
    top: 0;
}
.page-header {
    border-bottom: none;
    padding-top: 6em;
}
.main {
    width: 60%;
    margin: 0 0 0 40%;
}
.entry-title:after {
    top: 1.14em;
}
.page-header h2{
    color:white;
}
.page-header {
    background-color: var(--main-blue);
    padding: 2em 2em 1em;
    border-bottom: 1px solid #ccc;
    margin: 0 0 2em;
}
.page-header-title {
    margin: 0 0 0.25em;
    line-height: 1;
}
.page-header-subtitle {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.entry {
    border-bottom: 1px solid var(--main-bg-color);
    padding: 1.5em 0 0;
    position: relative;
}
.entry-title {
    font-family: CreteRound;
    color: var(--main-pink);
    font-size: 1.7rem;
    margin: 0 0 0.1em;
}
.entry-future .entry-title {
    color: var(--main-pink);
}
.entry-title:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 20px;
    background: #000;
    position: absolute;
    left: -43px;
    top: 0.95em;
}
.entry-future .entry-title:before {
    border-color: #c2c2c2;
    background: var(--main-bg-color);
}
.entry-title:after {
    content: '';
    display: block;
    position: absolute;
    top: 1.1em;
    left: -1.27em;
    width: 12px;
    height: 10px
}
.entry-date {
    font-family: Roboto;
    font-style: italic;
    color: #bababa;
}
.entry-future .entry-date {
    color: var(--main-bg-color);
}